<!DOCTYPE html>
<html lang="en">

<head>
    <title>Toodoo</title>
    <meta charset="UTF-8">
    <!-- https://materializecss.com/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="navbar-fixed" style="-webkit-app-region: drag;-webkit-user-select: none;">
        <nav class="nav-extended">
            <div class="nav-wrapper" style='padding-top:0px; margin-top:16px; margin-left:10px'>
                <a class="brand-logo left"><i class="material-icons">today</i>Toodoo</a>
                <ul class="right">
                    <li><a onclick="AddNewTask()"><i class="material-icons">add</i></a></li>
                </ul>
            </div>
        </nav>
    </div>


    <ul id="taskList" style='margin-top:16px;'>
    </ul>


    <script>
        const electron = require('electron');
        const { ipcRenderer } = electron;
        const ul = document.querySelector('#taskList');

        ipcRenderer.on('task:add', function (e, taskName, taskDate) {
            ul.className = 'collection';

            const li = document.createElement('li');
            li.className = 'collection-item';

            const taskText = document.createTextNode(taskName);
            li.appendChild(taskText);

            if (taskDate) {
                const span = document.createElement('span');
                span.className = 'new badge';
                span.setAttribute('data-badge-caption', '');
                span.appendChild(document.createTextNode(taskDate));
                li.appendChild(span);
            }

            ul.appendChild(li);
        });

        ipcRenderer.on('item:clear', function () {
            ul.innerHTML = '';
            ul.className = '';
        });

        ul.addEventListener('dblclick', removeItem);

        function removeItem(e) {
            e.target.remove();
            if (ul.children.length == 0) {
                ul.className = '';
            }
        }
    </script>

    <script>
        function AddNewTask() {
            const electron = require('electron');
            const { ipcRenderer } = electron;
            ipcRenderer.send('task:new');
        }
    </script>
</body>

</html>