<!DOCTYPE html>
<html lang="en" style='-webkit-app-region: drag;'>

<head>
    <meta charset="UTF-8">
    <title>New Task</title>
    <!-- https://materializecss.com/ -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container" style='margin-top:10px;'>
        <form>
            <div>
                <label>TASK NAME (*): </label>
                <input type="text" id="taskName" required="required" autofocus>
                <label>Date: </label>
                <input type="date" id="taskDate" class="datepicker">
            </div>
            <button class="btn waves-effect waves-light red accent-2" type="submit">Add</button>
            <button onclick="closeWindow();" class="btn waves-effect waves-light grey" type="button">Cancel</button>
        </form>
    </div>

    <script>
        const electron = require('electron');
        const { ipcRenderer } = electron;

        const form = document.querySelector('form');
        form.addEventListener('submit', submitForm);

        // send taskname and taskdate to main.js
        function submitForm(e) {
            e.preventDefault();
            const taskName = document.querySelector('#taskName').value;
            const taskDate = document.querySelector('#taskDate').value;
            ipcRenderer.send('task:add', taskName, taskDate);
        }

        function closeWindow() {
            const electron = require('electron');
            const { ipcRenderer } = electron;
            ipcRenderer.send('task:cancel');
        }
    </script>
</body>

</html>